body {
  margin: 0;
  width: 100vw;
  font-family: 'Niramit', sans-serif;
  font-size: 1.2rem;
  background-color: #c5f7d6;

}

h3, p {
  margin: 0;
}

.anchor {
  text-decoration: none;
  color: #fff;
}

.anchor:hover {
  color: #000;
}

.nav-items {
  background-color: #62e5a6;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-cat {
  width: 7%;
  height: 7%;
}

.store-heading {
  font-family: 'Pacifico', cursive;
  margin: 0;
  font-size: 3rem;
  color: #000e3f;
}

.links-header {
  list-style: none;
  display: flex;
  padding: 0;
}

.links-header-item {
  text-decoration: none;
  margin: 0 10px;
}

.products {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  background-color: #fff;
  width: 25%;
  margin: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.product-img {
  width: 70%;
}

.product-name {
  text-align: center;
  margin: auto;
  font-size: 1rem;
  width: 70%;
  padding: 15px;
}

.product-price {
  text-align: center;
  margin: auto;
  width: 70%;
  padding: 15px;
  margin-top: 0;
}

.footer {
  background-color: #37383d;
  display: flex;
  width:100%;
}

.links-footer {
  width: 50%;
  height: auto;
  color: #fff;
  list-style: none;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.add-product {
  width: 80%;
  margin: 0 auto 20px auto;
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-product-title {
  margin-bottom: 20px;
}

.form-add-product {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.product-input-style {
  border: 1px solid green;
  width: 25%;
}